* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.header-box {
    width: 1920px;
    height: 929px;
    position: relative;
    margin: auto;
    margin-top: 0;
}

.juxing {
    width: 1920px;
    height: 47px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}

.juxing img {
    transition: transform 0.3s;
}

.juxing img:hover {
    transform: scale(0.5);
}

.xiangji {
    z-index: 2;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 840px;
    align-items: center;
    transition: transform 0.3s;
}

.xiangji:hover {
    transform: scale(0.8);
}

.ani {
    font-size: 100px;
    color: #2a3f17;
    position: absolute;
    z-index: 1;
    top: 250px;
    width: 100%;
    justify-content: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.A {
    font-size: 34px;
    top: 400px;
    position: absolute;
    z-index: 1;
    justify-content: center;
    display: flex;
    color: #2a3f17;
    padding: 0 250px;
}

.EX {
    font-size: 45px;
    top: 560px;
    position: absolute;
    z-index: 1;
    display: flex;
    color: white;
    background-color: #2a3f17;
    left: 250px;
}

.huo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 690px;
    width: 100%;
}

.huo img {
    margin: 34px 108px;
}

.image-wrapper {
    transition: transform 0.5s;
}

.image-wrapper:hover {
    transform: translateY(-30px);
}

.second {
    margin: auto;
    position: relative;
    margin-top: 700px;
    width: 1920px;
}

.fa {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 26%;
    top: -140px;
}

.sign {
    width: 200px;
    height: 70px;
    background-color: #2a3f17;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    margin-top: 340px;
    transition: transform 0.5s;
}

.up {
    font-size: 30px;
    color: white;
}

.sign:hover {
    transform: scale(0.8);
}

.Difference {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #2a3f17;
    margin-top: 60px;
}

.Difference::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    width: 280px;
    height: 80px;
    animation: border 2s ease-out forwards;
    animation-play-state: paused;
}

.Difference:hover::after {
    animation-play-state: running;
}

.Difference:not(:hover)::after {
    animation: disappear 0.5s linear forwards;
}

@keyframes border {
    0% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    25% {
        border-top-color: #2a3f17;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    50% {
        border-top-color: #2a3f17;
        border-right-color: #2a3f17;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    75% {
        border-top-color: #2a3f17;
        border-right-color: #2a3f17;
        border-bottom-color: #2a3f17;
        border-left-color: transparent;
    }

    100% {
        border-top-color: #2a3f17;
        border-right-color: #2a3f17;
        border-bottom-color: #2a3f17;
        border-left-color: #2a3f17;
    }
}

@disappear {
    0% {
        border: 10px solid #2a3f17
    }

    100% {
        border-color: transparent;
    }
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos-and-captions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.photo-container:hover {
    transform: translateY(-30px);
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    transition: transform 0.5s;
}

.one,
.two,
.three,
.four {
    text-align: center;
    margin-top: 0;
    width: 265px;
    height: 150px;
    background-color: lightgrey;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.one span,
.two span,
.three span,
.four span {
    display: block;
    text-align: center;
}

.one span:first-child,
.two span:first-child,
.three span:first-child,
.four span:first-child {
    font-size: 30px;
    color: #2a3f17;
}

.one span:last-child,
.two span:last-child,
.three span:last-child,
.four span:last-child {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2a3f17;
    font-size: 20px;
}

.know {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #2a3f17;
    margin-top: 60px;
    border: 5px solid #2a3f17;
    width: 360px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 1s, color 1s;
}

.know:hover {
    background-color: #2a3f17;
    color: white;
}

.songshu {
    display: flex;
    align-items: start;
    padding: 260px;
}

.you {
    width: 657px;
    height: 1023px;
    margin-left: 80px;
    position: relative;
}

.thePhoto {
    margin-top: 30px;
    font-size: 40px;
    color: #2a3f17;
    transition: transform 0.5s;
}

.thePhoto:hover {
    transform: translateY(-30px);
}

.Family {
    font-size: 30px;
    color: #2a3f17;
    margin-top: 50px;
    transition: transform 0.5s;
}

.Family:hover {
    transform: scale(1.2);
}

.list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.list p {
    font-size: 30px;
    color: #2a3f17;
    margin-bottom: 130px;
    transition: transform 0.5s;
}

.list p:hover {
    transform: translateX(80px);
}

.last {
    display: flex;
    align-items: start;
    padding: 0 360px;
}

.big {
    font-size: 40px;
    width: 360px;
    height: 74px;
    background-color: #949f8b;
    color: white;
    margin-left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s, color 1s;
    transition: transform 0.5s;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.big:hover {
    background-color: white;
    color: #949f8b;
    transform: translateY(-30px);
}

.image-text {
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    bottom: 126px;
    right: 176px;
    z-index: 2;

}